<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="severity" value="warning"/>

    <!-- Google Checks -->
    <module name="com.puppycrawl.tools.checkstyle.checks.imports.AvoidStarImportCheck"/>
    <module name="com.puppycrawl.tools.checkstyle.checks.coding.EmptyBlockCheck"/>
    <module name="com.puppycrawl.tools.checkstyle.checks.coding.MultipleVariableDeclarationsCheck"/>
    <module name="com.puppycrawl.tools.checkstyle.checks.coding.MultipleStringLiteralsCheck"/>
    <module name="com.puppycrawl.tools.checkstyle.checks.annotation.PackageAnnotationCheck"/>
    <module name="com.puppycrawl.tools.checkstyle.checks.annotation.TypeNameCheck"/>
    <module name="com.puppycrawl.tools.checkstyle.checks.javadoc.JavadocMethodCheck"/>
    <module name="com.puppycrawl.tools.checkstyle.checks.naming.PackageNameCheck"/>
    <module name="com.puppycrawl.tools.checkstyle.checks.naming.ClassTypeParameterNameCheck"/>
    <module name="com.puppycrawl.tools.checkstyle.checks.naming.LocalVariableNameCheck"/>
    <module name="com.puppycrawl.tools.checkstyle.checks.naming.MemberNameCheck"/>
    <module name="com.puppycrawl.tools.checkstyle.checks.naming.MethodNameCheck"/>
    <module name="com.puppycrawl.tools.checkstyle.checks.naming.ParameterNameCheck"/>
    <module name="com.puppycrawl.tools.checkstyle.checks.naming.ParameterNumberCheck"/>
    <module name="com.puppycrawl.tools.checkstyle.checks.naming.StaticVariableNameCheck"/>
    <module name="com.puppycrawl.tools.checkstyle.checks.javadoc.JavadocVariableCheck"/>
</module>
